
<h1>Posts</h1>
<br>

{{#each posts}} <!-- recebendo array posts do control -->
    <small>{{createdAt}}</small>
    <h2>{{titulo}}</h2>
    <p>{{conteudo}}</p>
    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr><br>
{{/each}}